<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Strategy Home</title>
</head>
<body>
<div class="border" th:each="magician:${magicians}">
    <h2 th:text="${magician.getValue().name}"></h2>
    <form th:object="${magician.getValue()}" th:action="@{/changeActions}" method="post">
        <label>Select Attack behaviour</label>
        <select style="width: 20%" class="custom-select mr-sm-2"  th:value="*{attackAction}">
            <option  selected  th:text="*{attackAction.attack()}"></option>
            <option  class="form-control" th:each="attackBehaviour: ${attackActions}" th:text="${attackBehaviour.attack()}"></option>
        </select>
        <label>Select Defense behaviour</label>
        <select style="width: 20%" class="custom-select mr-sm-2" th:value="*{defenseAction}">
            <option selected  th:text="*{defenseAction.defense()}"></option>
            <option th:each="defenseBehaviour:${defenseActions}" th:text="${defenseBehaviour.defense()}"></option>
        </select>
        <label>Select Support behaviour</label>
        <select style="width: 20%" class="custom-select mr-sm-2" th:value="*{supportAction}">
            <option selected th:text="*{supportAction.support()}"></option>
            <option th:each="supportBehaviour: ${supportActions}" th:text="${supportBehaviour.support()}"></option>
        </select>
        <button class="btn-info">Update Behaviour</button>
    </form>
    <h4>Attack Behaviour</h4>
    <h5 th:text="${magician.getValue().attack()}"></h5>
    <p th:text="${magician.getValue().getAttackAction().getDescription()}"></p>
    <h4>Defense Behaviour</h4>
    <h5 th:text="${magician.getValue().defense()}"></h5>
    <p th:text="${magician.getValue().getDefenseAction().getDescription()}"></p>
    <h4>Support Behaviour</h4>
    <h5 th:text="${magician.getValue().support()}"></h5>
    <p th:text="${magician.getValue().getSupportAction().getDescription()}"></p>
</div>

</body>
</html>